@media only screen and (max-width:991px) {
	.banner-images img {
		width: 80%;
	}

	.about_image img {
		margin-bottom: 30px;
		width: 80%;
	}

	.about_image:before {
		width: 95% !important;
		height: 100% !important;
		right: 13px !important;
		top: 10px !important;
	}

	.single_about h4 {
		font-size: 25px;
	}

	.dark_bg .single_about h4 {
		font-size: 25px;
	}

	.single_resume {
		margin-bottom: 30px;
	}

	.res_border_none {
		border: none !important;
	}

	.single_counter {
		margin-bottom: 50px;
	}

	.single_testimonial {
		margin-bottom: 30px !important;
	}

	.single_blog .post-content {
		margin-top: 30px;
	}

	.contact_widget_area {
		margin-left: 0 !important;
		margin-bottom: 30px;
	}

	.navbar-brand p {
		font-size: 24px !important;
		font-weight: 600 !important;
	}

}

@media only screen and (max-width: 767px) {

	.navbar-brand p {
		font-size: 24px !important;
		font-weight: 600 !important;
	}

	.section_heading h2 {
		font-size: 35px !important;
	}

	.section_heading p {
		font-size: 14px !important;
	}

	.banner_content strong {
		font-size: 25px !important;
	}

	.banner_content h1 {
		font-size: 40px !important;
	}

	.banner_content p {
		font-size: 13px !important;
	}

	.about_image {
		text-align: center;
	}

	.about_image:before {
		display: none !important;
	}

	.about_content_area {
		margin-top: 50px;
	}

	.border_left {
		border-left: none !important;
	}

	.owl-nav {
		display: none;
	}

	.cta_content h3 {
		font-size: 22px !important;
		margin-bottom: 0px !important;
	}

	.footer {
		text-align: center;
	}

	.footer .social-link {
		float: inherit !important;
		padding-left: 0;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 480px) {
	.banner_content strong {
		font-size: 20px !important;
	}

	.banner_content h1 {
		font-size: 25px !important;
	}
}